<a href="https://colab.research.google.com/github/2019mohamed/ArabDialectClassification/blob/master/SVM_TruncatedSVD.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
df = pd.read_csv('/content/drive/MyDrive/two_clo_dialect_dataset.csv')
df

                                                 new_text  label
0                                     بالنهايه ينتفض يغير      0
1       يعني محسوب البشر حيونه ووحشيه وتطلبون الغرب يح...      0
2                                        مبين كلامه خليجي      0
3                               يسلملي مرورك وروحك الحلوه      0
4                                      وين الغيبه اخ محمد      0
...                                                   ...    ...
458192                           مبسوطين منك اللي باسطانا     17
458193                              والله ماينده ابش يختي     17
458194  شو عملنا حنا تهربي مننا احنا مساكين ليش بتعملي...     17
458195                               الله يبارك وبالعافيه     17
458196                            السحله ضيفي بتطلع سحليه     17

[458197 rows x 2 columns]

In [ ]:
corpus = df['new_text'].astype('str').tolist()
labels = df['label'].tolist()

In [ ]:
freqs = df['label'].value_counts()
print(freqs)
print('-----------------------')

start = [0 for _ in range(18)]
start[0] = 0
for c in range(1,18):
    start[c] += freqs[c-1] + start[c-1]  
print(start)

indexes = []# (mini , maxi+1) for all classes
for c in range(18):
    indexes.append(  (start[c] , start[c] + freqs[c]) )
   
print(indexes)


for c in range(18):
    print(c,' ','-------------------')
    print(df.iloc[indexes[c][0]:indexes[c][1] , 1])

11    57636
3     43742
13    42109
1     36499
2     31069
6     27921
12    27617
8     26832
16    26296
17    26292
14    19116
4     16242
10    16183
0     15497
15    14434
7     11539
9      9927
5      9246
Name: label, dtype: int64
-----------------------
[0, 15497, 51996, 83065, 126807, 143049, 152295, 180216, 191755, 218587, 228514, 244697, 302333, 329950, 372059, 391175, 405609, 431905]
[(0, 15497), (15497, 51996), (51996, 83065), (83065, 126807), (126807, 143049), (143049, 152295), (152295, 180216), (180216, 191755), (191755, 218587), (218587, 228514), (228514, 244697), (244697, 302333), (302333, 329950), (329950, 372059), (372059, 391175), (391175, 405609), (405609, 431905), (431905, 458197)]
0   -------------------
0        0
1        0
2        0
3        0
4        0
        ..
15492    0
15493    0
15494    0
15495    0
15496    0
Name: label, Length: 15497, dtype: int64
1   -------------------
15497    1
15498    1
15499    1
15500    1
15501    1
        ..
51991    1
51992    1
51993    1
51994    1
51995    1
Name: label, Length: 36499, dtype: int64
2   -------------------
51996    2
51997    2
51998    2
51999    2
52000    2
        ..
83060    2
83061    2
83062    2
83063    2
83064    2
Name: label, Length: 31069, dtype: int64
3   -------------------
83065     3
83066     3
83067     3
83068     3
83069     3
         ..
126802    3
126803    3
126804    3
126805    3
126806    3
Name: label, Length: 43742, dtype: int64
4   -------------------
126807    4
126808    4
126809    4
126810    4
126811    4
         ..
143044    4
143045    4
143046    4
143047    4
143048    4
Name: label, Length: 16242, dtype: int64
5   -------------------
143049    5
143050    5
143051    5
143052    5
143053    5
         ..
152290    5
152291    5
152292    5
152293    5
152294    5
Name: label, Length: 9246, dtype: int64
6   -------------------
152295    6
152296    6
152297    6
152298    6
152299    6
         ..
180211    6
180212    6
180213    6
180214    6
180215    6
Name: label, Length: 27921, dtype: int64
7   -------------------
180216    7
180217    7
180218    7
180219    7
180220    7
         ..
191750    7
191751    7
191752    7
191753    7
191754    7
Name: label, Length: 11539, dtype: int64
8   -------------------
191755    8
191756    8
191757    8
191758    8
191759    8
         ..
218582    8
218583    8
218584    8
218585    8
218586    8
Name: label, Length: 26832, dtype: int64
9   -------------------
218587    9
218588    9
218589    9
218590    9
218591    9
         ..
228509    9
228510    9
228511    9
228512    9
228513    9
Name: label, Length: 9927, dtype: int64
10   -------------------
228514    10
228515    10
228516    10
228517    10
228518    10
          ..
244692    10
244693    10
244694    10
244695    10
244696    10
Name: label, Length: 16183, dtype: int64
11   -------------------
244697    11
244698    11
244699    11
244700    11
244701    11
          ..
302328    11
302329    11
302330    11
302331    11
302332    11
Name: label, Length: 57636, dtype: int64
12   -------------------
302333    12
302334    12
302335    12
302336    12
302337    12
          ..
329945    12
329946    12
329947    12
329948    12
329949    12
Name: label, Length: 27617, dtype: int64
13   -------------------
329950    13
329951    13
329952    13
329953    13
329954    13
          ..
372054    13
372055    13
372056    13
372057    13
372058    13
Name: label, Length: 42109, dtype: int64
14   -------------------
372059    14
372060    14
372061    14
372062    14
372063    14
          ..
391170    14
391171    14
391172    14
391173    14
391174    14
Name: label, Length: 19116, dtype: int64
15   -------------------
391175    15
391176    15
391177    15
391178    15
391179    15
          ..
405604    15
405605    15
405606    15
405607    15
405608    15
Name: label, Length: 14434, dtype: int64
16   -------------------
405609    16
405610    16
405611    16
405612    16
405613    16
          ..
431900    16
431901    16
431902    16
431903    16
431904    16
Name: label, Length: 26296, dtype: int64
17   -------------------
431905    17
431906    17
431907    17
431908    17
431909    17
          ..
458192    17
458193    17
458194    17
458195    17
458196    17
Name: label, Length: 26292, dtype: int64

In [ ]:
import numpy as np

In [ ]:
def sample_data (data , label ,intervals, r = 0.2):
  data = np.array(data)
  label = np.array(label)
  ret = np.array([])
  retl = np.array([])
  for i in range(18):
    l = intervals[i][0]
    h = intervals[i][1]
    index = np.random.choice(range(l,h), size = int((h-l) * r) , replace = False )
    ret = np.concatenate((ret , data[index]), axis = 0)
    retl = np.concatenate((retl , label[index]), axis = 0)

  return ret,retl

In [ ]:
import pickle
from sklearn.manifold import TSNE
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.decomposition import PCA, TruncatedSVD

In [ ]:
vec = pickle.load(open('/content/drive/MyDrive/vectorizer.pkl', 'rb'))

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:338: UserWarning: Trying to unpickle estimator CountVectorizer from version 0.23.2 when using version 1.0.2. This might lead to breaking code or invalid results. Use at your own risk. For more info please refer to:
https://scikit-learn.org/stable/modules/model_persistence.html#security-maintainability-limitations
  UserWarning,

In [ ]:
sample_corpus, sample_label = sample_data(corpus , labels, indexes , 0.1)

In [ ]:
X = vec.transform(sample_corpus)
X.shape

(45810, 423285)

In [ ]:
reducer = TruncatedSVD(n_components= 1000)
Z = reducer.fit_transform(X)
#plt.scatter(Z[:,0] , Z[:,1] , c = sample_label)
#plt.show()

In [ ]:
#pickle.dump(reducer, open('reducer.pkl','wb'))

In [ ]:
Z.shape

(45810, 1000)

In [ ]:
permute = np.random.permutation(Z.shape[0])
Z = Z[permute]
sample_label = sample_label[permute]

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(Z,sample_label, test_size=0.33, random_state=42)

In [ ]:
X_train.shape,' ',y_train.shape

((30692, 1000), ' ', (30692,))

In [ ]:
from sklearn.svm import SVC

In [ ]:
from sklearn.metrics import classification_report, accuracy_score

In [ ]:
model1 = SVC(kernel = 'linear')

In [ ]:
model1.fit(X_train,y_train)

SVC(kernel='linear')

In [ ]:
predict1 = model1.predict(X_test)

In [ ]:
Acc = accuracy_score(y_test,predict1)
Acc

0.3319883582484456